<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive Variable from NodeJS Server</title>
</head>
<body>

<h1><%= first_name %></h1>  
<div id="first_name"></div>
<div id="last_name"></div>


<script>

var first_name = "<%= first_name %>";
var last_name = "<%= last_name %>";

document.getElementById("first_name").innerHTML = first_name;
document.getElementById("last_name").innerHTML = last_name;


</script>

</body>
</html>